/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/
@font-face {
  font-family: 'TradeGothicLTCom';
  src: url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom.eot');
  src: url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom.eot?#iefix') format('embedded-opentype'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom.woff') format('woff'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom.ttf') format('truetype'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTCom-Cn18';
  src: url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-Cn18.eot');
  src: url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-Cn18.eot?#iefix') format('embedded-opentype'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-Cn18.woff') format('woff'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-Cn18.ttf') format('truetype'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-Cn18.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTCom-BdCn20';
  src: url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-BdCn20.eot');
  src: url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-BdCn20.eot?#iefix') format('embedded-opentype'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-BdCn20.woff') format('woff'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-BdCn20.ttf') format('truetype'),
  url('https://www.native-instruments.com/typo3conf/ext/ni_assets/Resources/Public/Fonts/TradeGothicLTCom-BdCn20.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sans-serif {
  font-family: TradeGothicLTCom, -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia,
               times,
               serif;
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}


/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code, .code {
  font-family: Consolas,
               monaco,
               monospace;
}

.courier {
  font-family: 'Courier Next',
               courier,
               monospace;
}


/* Sans-Serif Typefaces */

.helvetica {
  font-family: 'helvetica neue', helvetica,
               sans-serif;
}

.avenir {
  font-family: 'avenir next', avenir,
               sans-serif;
}


/* Serif Typefaces */

.athelas {
  font-family: athelas,
               georgia,
               serif;
}

.georgia {
  font-family: georgia,
               serif;
}

.times {
  font-family: times,
               serif;
}

.bodoni {
  font-family: "Bodoni MT",
                serif;
}

.calisto {
  font-family: "Calisto MT",
                serif;
}

.garamond {
  font-family: garamond,
               serif;
}

.baskerville {
  font-family: baskerville,
               serif;
}
